body { 
	background-color: #90C7E3; 
	background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
	background-repeat: no-repeat;
	color: #666666; 
	font-family: Arial, Helvetica, sans-serif;
}

header { 
	background-color: #000033; 
	color: #FFFFFF; 
	background-image: url(sunset.jpg);
	background-position: right;
	background-repeat: no-repeat;
	height: 60px;
	padding-top: 15px;
	text-align: center;
}

#wrapper {
	width: 80%;
	background-color: #FFFFFF;
	min-width: 960px;
	max-width: 2048px;
	margin: auto;
	box-shadow: 3px 3px 3px #333333;
}

nav { 
	background-color: #FFFFFF; 
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

main {
	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	display: block;
}

nav a {
	text-decoration: none;
}

h1 { 
	margin-bottom: 0; 
	font-family: Georgia, Times New Roman, sans-serif;
	margin-top: 0;
}

h2 { 
	color: #3399CC; 
	font-family: Georgia, Times New Roman, sans-serif;
	text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
	font-family: Georgia, Times New Roman, sans-serif;
}

ul {
	list-style-image: url(marker.gif);
}

footer {
	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia, Times New Roman, sans-serif;
	padding: 20px;
}

dt { 
	color: #000033; 
}

.resort { 
	color: #5C7FA3; 
	font-weight: bold;
}

.contact {
	font-size: 90%
}

#homehero {
	height: 300px;
	background-image: url(coasthero.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#yurthero {
	height: 300px;
	background-image: url(yurthero.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#trailhero {
	height: 300px;
	background-image: url(trailhero.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}